@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.area {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area h1{
    font-weight: bolder;
}
.area h1{
    font-size: 45px;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;
    
}
.area h1 span{
    color: #ff2963
}
textarea{
   width: 600px;
   height: 250px;
   background: #403d84;
   color: #fff;
   font-size: 15px;
   border: 0;
   outline: 0;
   padding: 20px;
   border-radius: 10px;
   resize: none;
   margin-bottom: 30px;

}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    align-items: center;
    margin-left: 230px;
    
}
button img{
    width: 15px;
    margin-right: 10px;
    position: relative;
    top: 3px;

}
